body, input, textarea, select {
  color: #333333;
}
p, figcaption, ul.sqrlist {
  line-height: 1.8;
  margin: 10px 0 20px 0;
}
	
.sqrtable td, .sqrtable th {
  line-height: 1.8;		
}
	
h1 {
  color: #472a5b;
  margin: 20px 0 -20px 0;
}
h2 {
  color: #2b1938;
  margin: 20px 0 10px 0;
}
h3 {
  color: #2b1938;
  margin: 10px 0 10px 0;
}

.sqrcontent p a, a.link {
	color: #b76888;
	font-weight: bold;
	text-decoration: none;
}

.sqrcontent p a:hover, a.link:hover {
	text-decoration: underline;
}

a.sqriconlink {
	padding-left: 19px;
	display: inline-block;
	white-space: nowrap;
	background-repeat : no-repeat;
	background-position : left center;
}

a.sqriconlink2 {background-image: url(iconfile.svg)}
a.sqriconlink3 {background-image: url(iconexe.svg)}
a.sqriconlink4 {background-image: url(iconmovie.svg)}
a.sqriconlink5 {background-image: url(iconsound.svg)}
a.sqriconlink6 {background-image: url(iconpdf.svg)}
a.sqriconlink7 {background-image: url(icontext.svg)}
a.sqriconlink8 {background-image: url(iconzip.svg)}

.sqrpara {
  box-sizing: border-box;
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto 40px auto;
}
.sqrparabox {
  box-sizing: border-box;
  padding: 30px 30px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
.sqrparabox h2 {
  margin-top: 0;
}
.sqrbox {
  padding: 15px 30px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
.sqrpara:after, .sqrparabox:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sqrparafw {
  padding: 0;
  max-width: none;
}
.sqrparafw h2 {
  box-sizing: border-box;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.sqrparafw>h2 {
  padding: 0 30px;
}
.sqrfwalt {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  background-color: #ffffff;
  padding: 10px 0;
  margin-bottom: 30px;
}
.sqrcf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

p.sqrpaginate {
	text-align: center;
	margin: 8px 0;
}

p.sqrpaginate a, p.sqrpaginate b {
	padding: 0 4px;
}

.sqrnextpage {
  float: right;
  margin: 10px 0;
}
.sqrnextpage span {
  background: url(nextpage.svg) right center no-repeat;
  padding-right: 30px;
  margin-right: -10px;
  display: block;
  text-align: center;
}
.sqrprevpage {
  float: left;
  margin: 10px 0;
}
.sqrprevpage span {
  background: url(prevpage.svg) left center no-repeat;
  padding-left: 30px;
  margin-left: -10px;
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .sqrnextpage, .sqrprevpage {
    float: none;
  }
  .sqrparamobilefw {
    padding: 0;
  }
  .sqrparamobilefw>h2 {
    padding: 0 30px;
  }
  h1 {
    margin: 20px 0 -30px 0;
  }
  .sqronlydesktop {
  	display: none;
  }
}

@media screen and (min-width: 768px) {
  .sqronlymobile {
  	display: none;
  }	
}

.sqrform {
  margin: 20px 0;
  padding: 0;
  display: block;
  width: 100%;
}
.sqrform div:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sqrform div {
  margin: 12px 0;
}
.sqrform input[type="text"], .sqrform input[type="password"], .sqrform input[type="file"], .sqrform input[type="email"], .sqrform textarea, .sqrform select {
  border: 1px solid #dddddd;
  background: #ffffff;
  padding: 8px 12px;
  display: block;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sqrform input.sqrformerr, .sqrform textarea.sqrformerr {
  border: 1px solid #B73332;
}
.sqrform label.sqrformerr, .sqrform p.sqrformerr {
  color: #B73332;
}

.sqrform select {
  background: #ffffff url(select.svg) no-repeat right center;
  padding: 8px 32px 8px 12px;
}
.sqrform select::-ms-expand {
  display: none;
}
.sqrform input[type="file"] {
  line-height: 1;
}
.sqrform textarea {
  height: 140px;
}
.sqrform input[type="submit"], .sqrbutton, .sqrshopbutton {
  background-color: #472a5b;
  border: none;
  color: #f2eff4;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  letter-spacing: 1px;
}
.sqrform input[type="submit"] {
  margin: 24px 0 0 0;
  float: right;
}
.sqrform input[type="submit"]:hover, .sqrbutton:hover, .sqrshopbutton:hover {
  background-color: #2b1938;
}
.sqrform .sqrforml {
  box-sizing: border-box;
  width: 28%;
  float: left;
  display: block;
}
.sqrform label.sqrforml {
  padding: 9px 0;
  display: block;
}
.sqrform .sqrformr {
  box-sizing: border-box;
  width: 70%;
  float: right;
  display: block;
  margin: 0;
}

.sqrform img {
  display: block;
  border: 1px solid #dddddd;
  padding: 8px;
  background: #ffffff;
}

.sqrform p {
  font-style: italic;
}
.sqrform .sqrformsplite input:first-child {
  width: 49%;
  float: left;
}
.sqrform .sqrformsplite input:last-child {
  width: 49%;
  float: right;
}
.sqrform .sqrformsplitr input:first-child {
  width: 19%;
  float: left;
}
.sqrform .sqrformsplitr input:last-child {
  width: 79%;
  float: right;
}
.sqrform .sqrformsplitl input:first-child {
  width: 79%;
  float: left;
}
.sqrform .sqrformsplitl input:last-child {
  width: 19%;
  float: right;
}
.sqrformsplite:after, .sqrformsplitl:after, .sqrformsplitr:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
@media screen and (max-width: 767px) {
  .sqrform input[type="text"], .sqrform input[type="file"], .sqrform textarea {
    width: 100%;
    float: none;
  }
  .sqrform .sqrforml {
    width: 100%;
    float: none;
  }
  .sqrform .sqrformr {
    width: 100%;
    float: none;
  }
}

.sqrfig, .sqrfigl, .sqrfigr {
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  font-style: italic;
  border: 1px solid #dddddd;
  color: #666666;
}
.sqrfig {
  padding: 0;
  margin: 0;
  width: 100%;
}
.sqrfigl {
  margin: 0 4% 2% 0;
  float: left;
  width: 33%;
}
.sqrfigr {
  margin: 0 0 2% 4%;
  float: right;
  width: 33%;
}

.sqrfigfwl, .sqrfigfwr {
  display: block;
  padding: 0;
  margin: 0;
  font-style: italic;
  width: 100%;
  position: relative;
}
.sqrfigfwl .sqrfigcontent, .sqrfigfwr .sqrfigcontent {
  width: 100%;
  height: auto;
  display: block;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 0;
  border-right: 0;
}
.sqrfigfwl>figcaption, .sqrfigfwr>figcaption {
  box-sizing: border-box;
  max-width: 1100px;
  padding: 20px 30px;
  margin: 0 auto 0 auto;
}
.sqrfig .sqrfigcontent, .sqrfigl .sqrfigcontent, .sqrfigr .sqrfigcontent {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}
.sqrfig figcaption, .sqrfigl figcaption, .sqrfigr figcaption {
  padding: 15px 20px;
  margin: 0;
}
.sqrlbbackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  transition: opacity 0.25s;
  opacity: 0;
  background-color: #222222;
  touch-action: none;
}
.sqrlbclose {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2005;
  background: url(close.svg) center center no-repeat;
  cursor: pointer;
}
.sqrlbnext {
  width: 48px;
  height: 96px;
  position: absolute;
  right: 0;
  background: url(next.svg) center center no-repeat;
  cursor: pointer;
  z-index: 2004;
  display: none;
}
.sqrlbprev {
  width: 48px;
  height: 96px;
  position: absolute;
  left: 0;
  background: url(prev.svg) center center no-repeat;
  cursor: pointer;
  z-index: 2004;
  display: none;
}
.sqrlbwait {
  width: 32px;
  height: 32px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  background: url(wait.svg) center center no-repeat;
  z-index: 2005;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  cursor: pointer;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.sqrlbbackdrop img {
  display: block;
  position: absolute;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  z-index: 2002;
}
.sqrlbbackdrop .sqrlbcaption {
  display: block;
  position: absolute;
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
  font-size: 90%;
  font-style: italic;
  padding: 14px 0;
  z-index: 2008;
  text-align: center;
  left:0;
  right:0;
  bottom:0;
}
@media screen and (max-width: 767px) {
  .sqrfigl, .sqrfigr {
    width: 80%;
    float: none;
    margin: 20px auto;
  }
  .sqrparamobilefw>.sqrfig {
    border-left: none;
    border-right: none;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  .sqrparamobilefw>.sqrfig>figcaption {
    padding: 20px 30px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .sqrfigwidth2 { max-width: 75% }
  .sqrfigwidth3 { max-width: 50% }
  .sqrfigwidth4 { max-width: 640px }
  .sqrfigwidth5 { max-width: 512px }
  .sqrfigwidth6 { max-width: 480px }
  .sqrfigwidth7 { max-width: 320px }
  
  .sqrfigalign2 { margin-left: auto; margin-right: auto }
  .sqrfigalign3 { margin-left: auto; margin-right: 0 }
}
@media screen and (min-width: 1024px) {
  .sqrfigfwl>figcaption, .sqrfigfwr>figcaption {
    position: absolute;
    max-width: 30%;
    padding: 30px;
    margin: 0 auto 0 auto;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  }
  .sqrfigfwl>figcaption {
    bottom: 0;
    left: 0;
  }
  .sqrfigfwr>figcaption {
    bottom: 0;
    right: 0;
  }
}

.sqrtabs .sqrtabshead ul {
  box-sizing: border-box;
  padding: 0 30px;
  display: block;
  list-style: none;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-user-select: none;
  user-select: none;
}
.sqrpara .sqrtabs .sqrtabshead ul {
  padding: 0;
}
.sqrtabs .sqrtabshead ul li {
  display: block;
  padding: 11px 21px 10px 21px;
  float: left;
  margin: 0 3px -1px 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.sqrtabs .sqrtabshead ul li.sqrtabactive {
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  cursor: default;
}
.sqrtabs .sqrtabshead ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sqrtabs .sqrtabscontainer>div {
  display: none;
  margin: 0;
  padding: 0;
}
.sqrtabs .sqrtabscontainer>div.sqrtabactive {
  display: block;
}
@media screen and (max-width: 767px) {
  .sqrtabs .sqrtabshead ul li {
    display: block;
    padding: 10px 70px 10px 30px;
    border-top: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    float: none;
    margin: 0 -30px;
    float: none;
    background: url(tabright.svg) right center no-repeat;
  }
  .sqrtabs .sqrtabshead ul li.sqrtabactive {
    padding: 10px 70px 10px 30px;
    border-left: none;
    border-right: none;
    background-image: url(tabdown.svg);
  }
  .sqrpara .sqrtabs .sqrtabshead ul li {
    margin: 0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
}

.sqracc {
  box-sizing: border-box;
  margin: 0 auto 30px auto;
  max-width: 1100px;
}
.sqracc .sqracchead {
  box-sizing: border-box;
  margin: 0 30px;
  padding: 0;
  border-bottom: 1px solid #dddddd;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.sqracc .sqracchead:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sqracc .sqracchead div {
  padding: 10px 20px 10px 32px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  cursor: inherit;
  float: left;
  background: #ffffff url(accclosed.svg) 10px 50% no-repeat;
  min-width: 30%;
  -webkit-user-select: none;
  user-select: none;
}
.sqracc .sqracccontainer {
  display: none;
}
.sqracc.sqraccopen .sqracccontainer {
  display: block;
}
.sqracc.sqraccopen .sqracchead div {
  background-image: url(accopen.svg);
}
@media screen and (max-width: 767px) {
  .sqracc .sqracchead {
    margin: 0;
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .sqr2col>div {
    box-sizing: border-box;
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .sqr2col>div:last-child {
    margin-right: 0;
  }
  .sqr3col>div {
    box-sizing: border-box;
    width: 30.6666666666%;
    float: left;
    margin-right: 4%;
  }
  .sqr3col>div:last-child {
    margin-right: 0;
  }
}

.sqrlist {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.sqrlist>li {
  padding: 0 0 0 24px;
  margin: 0 0 16px 0;
  background-position: 0 8px;
  background-repeat: no-repeat;
}

.sqrbullet1>li {
  background-image: url(bullet1.svg);
}
.sqrbullet2>li {
  background-image: url(bullet2.svg);
}
.sqrbullet3>li {
  background-image: url(bullet3.svg);
}
.sqrbullet4>li {
  background-image: url(bullet4.svg);
}
.sqrbullet5>li {
  background-image: url(bullet5.svg);
}


.sqrtable {
  overflow: auto;
  width: 100%;
}
.sqrtable table {
  box-sizing: border-box;
  min-width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.sqrtable th {
  box-sizing: border-box;
  border: 1px solid #2b1938;
  background-color: #2b1938;
  color: #f2eff4;
  padding: 12px 18px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.sqrtable th a.link {
	color: #f2eff4;
}

.sqrtable td {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 12px 18px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

.sqrtable img {
	width: 100%;
	height: auto;
	border: 0;
	display: block;
}
.sqrtable td.sqrtablesymbol {
  vertical-align: middle;
}
.sqrtable td.sqrtablesymbol img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .sqrtable tr:nth-child(odd) {
    background-color: #fcfcfc;
  }
  .sqrtable td.sqrtablepic {
    padding: 0;
  }
  .sqrtable .sqrtableheader {
  font-style: italic;
  }
}
@media screen and (max-width: 767px) {
  .sqrtablescroll tr:nth-child(odd) {
    background-color: #fcfcfc;
  }
  .sqrtablereflow thead {
    display: none;
  }
  .sqrtablereflow td {
    display: block;
    width: 100% !important;
    border: none;
    text-align: left !important;
    border-top: 1px solid #dddddd;
  }
  .sqrtablereflow td:before {
    content: attr(data-header) ": ";
    font-style: italic;
  }
  .sqrtablereflow td.sqrtablepic:before {
    content: attr(data-header) ": ";
    font-style: italic;
    display: block;
    padding-bottom: 6px;
  }
  .sqrtablereflow tr {
    display: block;
    border: none;
  }
  .sqrtablereflow td:first-child {
    background-color: #2b1938;
    color: #f2eff4;
    border-top: none;
  }
  .sqrtablereflow td:first-child:before {
    content: '';
  }
  .sqrtablereflow td:nth-child(even) {
    background-color: #fcfcfc;
  }
  .sqrtable td.sqrtablepic {
    padding: 12px 18px 18px 18px;
  }  
}

.srqteaserelement ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.srqteaserelement li {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
}
.srqteaserelement li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.sqrteaserpicture {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #dddddd;
}
.srqteaserelement img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}
.sqrteasercaption {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #b76888;
}
.srqteaserelement li.sqrteaserlink {
  display: block;
  margin: 0 0 16px 0;
  padding: 0 0 0 24px;
  background-position: 0 6px;
  background-repeat: no-repeat;
}

.srqteaserelement li.sqrteaserlink a {
  color: #b76888;
  font-weight: bold;
  text-decoration: none;
}

.srqteaserelement li.sqrteaserlink a:hover, .sqrteasercaption:hover {
  text-decoration: underline;
}


p.sqrteaserlookup {
	text-align:center;
	margin: 8px 0 18px;
	border-bottom: 1px solid #dddddd;
	padding: 0 0 4px 0;
}

@media screen and (min-width: 768px) {
  .sqr1col .sqrteaserpicture {
    width: 40%;
    float: right;
    margin: 4px 0 30px 30px;
  }
  .sqr1col li:nth-child(odd) .sqrteaserpicture {
    float: left;
    margin: 4px 30px 30px 0;
  }
}
@media screen and (max-width: 767px) {
  .sqr1col .sqrteaserpicture {
    float: none;
    margin: 10px 0;
    width: 100%;
  }
}
