<a href="#" class="sqrnavshow">Navigation öffnen</a>
<a href="#" class="sqrnavhide">Navigation schließen</a>

<ul>
  <li class="sqrnavhome" data-nav-item="home"><a data-nav-href="index.html"><span>Startseite</span></a></li>
  <li data-nav-item="about"><a data-nav-href="ueber-uns/index.html"><span>&Uuml;ber mich</span></a></li>
  <li data-nav-item="services"><a data-nav-href="unsere-leistung/index.html"><span>Meine Leistung</span></a></li>
  <li data-nav-item="network"><a data-nav-href="netzwerk/index.html"><span>Netzwerk</span></a></li>
  <li data-nav-item="investment"><a data-nav-href="kunst-als-kapitalanlage/index.html"><span>Kapitalanlage</span></a></li>
  <li data-nav-item="exhibitions"><a data-nav-href="ausstellungen/index.html"><span>Ausstellungen</span></a></li>
  <li data-nav-item="contact"><a data-nav-href="kontakt-und-impressum/index.html"><span>Kontakt</span></a></li>
  <li data-nav-item="english"><a data-nav-href="https://engl.haerle-kunstvermittlung.com/"><span>| Englisch |</span></a></li>
</ul>
